body {
	font: 16px Georgia, serif;
	background-color: #ddd;
	color: #444;
	line-height: 150%;
	margin-top: 50px;
}
.green, a, a:hover, pre b {
	color: #308580;
}
h1 {
	font-size: 300%;
	padding-bottom: 0.5em;
}
a {
	font-weight: bold;
}
pre {
	line-height: 110%;
	tab-size: 4;
	-o-tab-size: 4;
	-moz-tab-size: 4;
}